<h2><%= job ? "Edit Job" : "Add Job" %></h2>

<form method="POST" action="<%= job ? '/jobs/update/' + job._id : '/jobs' %>">

  <label>Company</label>
  <input type="text" name="company" value="<%= job ? job.company : '' %>" required />

  <label>Position</label>
  <input type="text" name="position" value="<%= job ? job.position : '' %>" required />

  <label>Status</label>
  <input type="text" name="status" value="<%= job ? job.status : '' %>" required />

  <button><%= job ? "Update" : "Create" %></button>

  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>